body{
    background-color: rgb(143, 138, 108);
}
h2{
    color: brown ;text-align: center;
}
#p1
{
    background-color: sandybrown;text-align: center;
}
.bat {
    background-color:aqua;text-align: center ;
}
.bow
{
    background-color: burlywood;text-align: center;
}
.all
{
    background-color: chocolate;text-align: center;
}